In [81]:
# This is all the codes and exercise solutions for chapters 7 to 18 of Python Basics

In [2]:
print('first line')
print()
print('second line')

first line

second line
ciewnc

In [3]:
# None is the special value when the function does not have anything to report
Report_string = 'This is a test string'
print_string = print(Report_string)
print(print_string)

This is a test string
None

In [4]:
# how different variable types work in python math
first_number = 4
second_number = 4.25
sum = first_number+second_number
print(sum)
print(type(sum))

8.25
<class 'float'>

In [5]:
# variable conversion in math in Python
number = 4
string = '5.5'
sum = number+float(string)
print(sum)

9.5

In [6]:
# adding strings and integers in python
number = 44
string1 = 'Years'
string2 = 'Yashar'
sum=str(number)+string1+string2
print(sum)

44YearsYashar

In [7]:
#exercise 8.1 
first = 2.0
second = "2"
third = "2.1"

In [3]:
#solution to exercise 8.1 
print(first+float(second))

4.0

In [11]:
print(float(second)+float(third))

4.1

In [12]:
print(first+int(third))

ValueError: invalid literal for int() with base 10: '2.1'

In [13]:
print(first+int(float(third)))

4.0

In [14]:
print(int(first)+int(float(third)))

4

In [15]:
print(2.0*second)

TypeError: can't multiply sequence by non-int of type 'float'

In [8]:
#solution to exercise 8.2
#current year
current_year = 2024

#ask the user about their birth year
birth_year = int(input("Enter their birth year:"))

#calculate the age
age = current_year - birth_year
print("your age is:", age)

Enter their birth year: 1987

your age is: 37

In [9]:
#using help in python 
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [10]:
#alternative way of using help in python 
round?

Signature: round(number, ndigits=None)
Docstring:
Round a number to a given precision in decimal digits.

The return value is an integer if ndigits is omitted or None.  Otherwise
the return value has the same type as the number.  ndigits may be negative.
Type:      builtin_function_or_method

In [19]:
# min function
print(min(1,2,3))

1

In [20]:
# max function
print(max(1,2,3))

3

In [21]:
# min/max with strings
print(min('a','A'))

A

In [22]:
print(min('C','a'))

C

In [23]:
# min/max between an integer and a string
print(max(1,'a'))

TypeError: '>' not supported between instances of 'str' and 'int'

In [24]:
round?

Signature: round(number, ndigits=None)
Docstring:
Round a number to a given precision in decimal digits.

The return value is an integer if ndigits is omitted or None.  Otherwise
the return value has the same type as the number.  ndigits may be negative.
Type:      builtin_function_or_method

In [25]:
#round example
print(round(2.78))

3

In [26]:
print(round(2.78, ndigits=1))

2.8

In [11]:
#solution to exercise 8.3
#define pi constant
Pi = 3.1415926

#round() built-in function
round_pi = round(Pi, 2)
print(round_pi)

3.14

In [12]:
# using help to understand a function
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [31]:
abs(-5)

5

In [32]:
# this is comment
print ('output') # this is also a comment

output

In [35]:
# error types in python
# syntax error
print 'this is a sentence'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3876666243.py, line 3)

In [36]:
# more errors
print(sentence)

NameError: name 'sentence' is not defined

In [14]:
#solution to exercise 11.1
my_ages = 53
remaining = 100 - my_ages
print(remaining)

47

In [15]:
# lists in python, defining a list
temperatures = [18, 19, 20, 17.5, 22]
print ('temperatures are:', temperatures)

temperatures are: [18, 19, 20, 17.5, 22]

In [40]:
type (temperatures)

list

In [41]:
# alternate way to create lists
temperatures = list((18,19,20,17.5,22))
print(temperatures)

[18, 19, 20, 17.5, 22]

In [42]:
# empty list
empty_list = []

In [43]:
empty_list2 = list(())

In [44]:
print(empty_list2)

[]

In [45]:
# len() to find the length of a list, or how many values are in a list
temperature = [18,19,20,17.5,22] # this is a list
print('length of the list is equal to:', len(temperature))

length of the list is equal to: 5

In [46]:
print('item 0 in temperature:', temperature[0])

item 0 in temperature: 18

In [47]:
print('item 1 in temeperature:', temperature[1])

item 1 in temeperature: 19

In [48]:
print('the last item in tempeerature:',temperature[-1])

the last item in tempeerature: 22

In [49]:
# different data types in list
list_example = ['abc',23,True, 2.4,'male']

In [50]:
temperature[0] = 14.8
print('temperature is now:', temperature)

temperature is now: [14.8, 19, 20, 17.5, 22]

In [56]:
#slicing
list_alphabets = ['a','b','c','d','e','f','g']
print(list_alphabets[3:-1])

['d', 'e', 'f']

In [57]:
temperature = [18,19,20,17.5,22]

In [58]:
temperature=[18,19,20,17.5,22,26]

In [59]:
#how to add a new item to a list using append method
primes = [2, 3, 5]
print('prime was initially:', primes)
primes.append(7)
print('prime has become:', primes)

prime was initially: [2, 3, 5]
prime has become: [2, 3, 5, 7]

In [60]:
# extend as a method of lists
teen_primes = [11, 13, 17, 19]
middle_aged_primes = [37, 41, 43, 47]
print('primes is currently:', primes)
primes.extend(teen_primes)
print('primes has become:',primes)

primes is currently: [2, 3, 5, 7]
primes has become: [2, 3, 5, 7, 11, 13, 17, 19]

In [61]:
primes.append(middle_aged_primes)
print('primes has finally become:', primes)

primes has finally become: [2, 3, 5, 7, 11, 13, 17, 19, [37, 41, 43, 47]]

In [64]:
# count() method
fruits = ['apple','cherry','banana','cherry']
number_of_cherries = fruits.count('cherry')
print(number_of_cherries)

2

In [16]:
# exercise solution 12.2
list_num = [1, 4, 2, 9, 7, 8, 9, 3, 1]

#count method to count 
count_of_9 = list_num.count(9)
print('The count is equal to:', count_of_9)

The count is equal to: 2

In [66]:
# reverse() method
fruits = ['apple','cherry','banana']
fruits.reverse()
print(fruits)

['banana', 'cherry', 'apple']

In [67]:
# sort() method
cars = ['Ford','BMW','Volvo']
cars.sort(reverse=True)
print(cars)

['Volvo', 'Ford', 'BMW']

In [17]:
#solution to exercise 12.3
prime_numbers = [11,3,7,5,2]

#sort in ascending order
prime_numbers.sort()
print('Sorted in ascending order:',prime_numbers)

#sort in descending ordeer
prime_numbers.sort(reverse=True)
print('Sorted in descending order:', prime_numbers)

Sorted in ascending order: [2, 3, 5, 7, 11]
Sorted in descending order: [11, 7, 5, 3, 2]

In [18]:
#exercise solution 12.4
text = ['abc','wxyz','gh','a']

#sort based on their length
text.sort(reverse=True,key=len)
print('sorted based on the length:',text)

sorted based on the length: ['wxyz', 'abc', 'gh', 'a']

In [71]:
#clear() method
cars = ['Ford','BMW','Volvo']
cars.clear()
print(cars)

[]

In [72]:
#pop method
fruits = ['apple','banana','cherry']
fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [73]:
#alternate way to remove an item from a list using del function
primes = [2,3,5,7,9]
print('primes was originally equal to:',primes)
del primes[4]
print('primes after using del function:',primes)

primes was originally equal to: [2, 3, 5, 7, 9]
primes after using del function: [2, 3, 5, 7]

In [74]:
#strings
element = 'carbon'
print('index 0 in element is:', element[0])

index 0 in element is: c

In [75]:
print('index 3 in element is:', element[3])

index 3 in element is: b

In [76]:
element[0] = 'C'

TypeError: 'str' object does not support item assignment

In [77]:
print('99th element of element:', element[99])

IndexError: string index out of range

In [78]:
atom_name = 'sodium'
print(atom_name[0:3])

sod

In [19]:
#solution to exercise 12.6
atom_name = 'oxygen'
print('atom_name[1:3] is:', atom_name[1:3])

atom_name[1:3] is: xy

In [20]:
#solution to exercise 12.7
star_name = "Alpha Orionis"
print(star_name[-5:-3])

io

In [81]:
print(star_name[0:20])

Alpha Orionis

In [82]:
print(star_name[:103])

Alpha Orionis

In [21]:
#tuples definition
tuple_example = ('apple', 'tomato', 'banana')
print(tuple_example)

('apple', 'tomato', 'banana')

In [22]:
# we cannot change or modify tupples after creation
tuple_example = ('apple', 'tomato', 'banana')
Tuple_example[0] = 'cherry'

NameError: name 'Tuple_example' is not defined

In [23]:
# number of items in a tuple
tuple_example = ("apple", "tomato", "banana", "apple")
print(len(tuple_example))

4

In [25]:
# tuples can contain different data types
tuple_example = ('apple', 2, 5.2)
print(tuple_example[0])

apple

In [26]:
# solution to exercise 13.1
sample_tuple = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")

# Access the 4th element from the last
fourth_from_last = sample_tuple[-4]

# Print the result
print(f"The 4th element from the last is: {fourth_from_last}")

The 4th element from the last is: u

In [27]:
# defining a dictionary
translation = {'one': 'first', 'two': 'second'}
print(translation['one'])

first

In [28]:
# add an item to a dictionary
translation['three'] = 'third'
print(translation)

{'one': 'first', 'two': 'second', 'three': 'third'}

In [29]:
# solution to exercise 14.1
sample_dict = {0: 10, 1: 20}

# Add a new key-value pair to the dictionary
sample_dict[2] = 30

# Print the updated dictionary
print("Updated Dictionary:", sample_dict)

Updated Dictionary: {0: 10, 1: 20, 2: 30}

In [30]:
# conditionals in python
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [31]:
mass = 3.54
if mass > 3.0:
	print(mass, 'is large')

mass = 2.07
if mass > 3.0:
	print (mass, 'is large')

3.54 is large

In [32]:
grade = 85
if grade >= 70:
	print('grade is C')
elif grade >= 80:
	print('grade is B')
elif grade >= 90:
	print('grade is A')

grade is C

In [35]:
# Nested if
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

In [37]:
# solution to exercise 15.1
pressure = 71.9
if pressure > 50.0:
	pressure = 25.0
elif pressure <= 50.0:
	pressure = 0.0
print(pressure)

25.0

In [38]:
# for loops in python
for number in [1, 2, 6]:
	print(number)

1
2
6

In [39]:
for number in [1, 2, 6]: # i will add a different example here
     print(number)

1
2
6

In [41]:
# loop variable can be anything
for kitten in [1, 2, 6]:
    print(kitten)

1
2
6

In [42]:
# body of the loop can contain many statements
primes = [2, 3, 5]
for p in primes:
	squared = p ** 2
	cubed = p ** 3
	print(p, squared, cubed)

2 4 8
3 9 27
5 25 125

In [43]:
# using range function
print('a range is not a list: range(0, 3)')
for number in range(0, 3):
	print(number)

a range is not a list: range(0, 3)
0
1
2

In [44]:
# using loop for accumulation
# Sum the first 10 integers.
total = 0
for number in range(10):
   total = total + (number + 1)
print(total)

55

In [48]:
# Using break
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [49]:
# else keyword
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [51]:
# Nested loop
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [52]:
# general syntax
# for index,item in enumerate(array):

provinces = ['nova scotia','newfoundland and labrador',
         	'ontario','quebec']

for idx,item in enumerate(provinces):
	print(idx,item)

0 nova scotia
1 newfoundland and labrador
2 ontario
3 quebec

In [53]:
# solution to exercise 16.1
data = [1, 2, 2, 5]
cumulative = []
total = 0

for number in data:
    total = total + number
    cumulative.append(total)

print(cumulative)

[1, 3, 5, 10]

In [54]:
#solution to exercise 16.2
# Total length of the strings in the list: ["red", "green", "blue"] => 12
total = 0
for word in ["red", "green", "blue"]:
    total = total + len(word)
print(total)

12

In [55]:
#solution to exercise 16.3
# Starting list
colors = ["red", "green", "blue"]

# Initialize an empty string for the acronym
acronym = ""

# Loop through each word in the list
for word in colors:
    acronym += word[0].upper()  # Take the first letter of each word and convert it to uppercase

# Print the result
print(acronym)

RGB

In [58]:
# while loop

total = 0

while total < 10:
    print(f"Current total: {total}")
    total += 3.14

print(f"Final total: {total}")

Current total: 0
Current total: 3.14
Current total: 6.28
Current total: 9.42
Final total: 12.56

In [60]:
# combining condtionals with loops
masses = [3.54, 2.07, 9.22, 1.86, 1.71]
for m in masses:
    if m > 3.0:
        print(m, 'is large')

3.54 is large
9.22 is large

In [62]:
masses = [3.54, 2.07, 9.22, 1.86, 1.71]
for m in masses:
    if m > 3.0:
        print(m, 'is large')
    else:
        print(m, 'is small')

3.54 is large
2.07 is small
9.22 is large
1.86 is small
1.71 is small

In [64]:
# using elif
masses = [3.54, 2.07, 9.22, 1.86, 1.71]
for m in masses:
    if m > 9.0:
        print(m, 'is HUGE')
    elif m > 3.0:
        print(m, 'is large')
    else:
        print(m, 'is small')

3.54 is large
2.07 is small
9.22 is HUGE
1.86 is small
1.71 is small

In [65]:
# writing a function
def add_function(a, b):
	result = a + b
	return(result)

z = add_function(20, 22)
print(z)

42

In [67]:
def print_greeting():
	print('Hello!')
print_greeting()

Hello!

In [76]:
def print_date(year, month, day):
	joined = str(year) + '/' + str(month) + '/' + str(day)
	print(joined)

print_date(1871, 3, 19)

1871/3/19

In [77]:
# if a function does not return a value, it will retun None
result = print_date(1871, 3, 19)
print('result of call is:', result)

1871/3/19
result of call is: None

In [78]:
# solution to exercise 18.1
def report(pressure):
	print('pressure is', pressure)
print('calling', report, 22.5)

calling <function report at 0x000001C5FD5DDE40> 22.5

In [80]:
# recursion
# Define functions
def equation(k):
    output = 4 * (-1)**k / (2*k + 1)
    return output

# This function recursively uses the previous function
def summation(n):
    X = 0
    for idx in range(n):
        X += equation(idx)
    return X

# Call the functions
for N in [1, 10, 100, 1000, 10000, 100000]:
    y = summation(N)
    print(f'For {N} terms, summation = {y}')

For 1 terms, summation = 4.0
For 10 terms, summation = 3.0418396189294032
For 100 terms, summation = 3.1315929035585537
For 1000 terms, summation = 3.140592653839794
For 10000 terms, summation = 3.1414926535900345
For 100000 terms, summation = 3.1415826535897198