In [2]:
# This is all the code and exercise solutions for chapters 1 to 6 of Python Basics

In [3]:
# First part is about using markdowns and codes

This is a test notebook

* first topic
* second topic
* third topic

# this is a header
this is a normal text

$ x = \int $

* first
* second
    * first sub topic
    * second sub topic
* third

In [1]:
# using Python as a calculator 
5+2

7

In [5]:
# this is a commment for defininig a variable
age = 36

In [7]:
# we can use print() to print something on the screen
print(age)

36

In [3]:
# another variable definition, using letters instead of numbers
my_name = 'yashar'

In [10]:
print (my_name)

yashar

In [11]:
# lets combine two variables and some statements
print ('My first name is',my_name,'and my age is', age)

My first name is yashar and my age is 36

In [13]:
last_name = 'monfared'
print (last_name)

monfared

In [14]:
# we want to use variables in calculations
my_future_age_in10years = age + 10

In [15]:
print (my_future_age_in10years)

46

In [4]:
# Exercise 4.1 solution
# my height in meters
height_meters = 1.77

# 1 meter = 3.28084 feet
Conversion_constant = 3.28084

# convert my height from meters to feet
height_feet = height_meters * Conversion_constant

print ('My height in feet is:',height_feet)

My height in feet is: 5.8070868

In [17]:
first_name, last_name = 'john','reyes'
print('my first name is',first_name,'and my last name is',last_name)

my first name is john and my last name is reyes

In [18]:
# we use type() to find out the type of values in Python
print (type(14))

<class 'int'>

In [19]:
print(type(3.14))

<class 'float'>

In [20]:
print(type(first_name))

<class 'str'>

In [21]:
%whos

Variable                  Type             Data/Info
----------------------------------------------------
AGE                       int              39
Age                       int              25
Conversion_constant       float            3.28084
NamespaceMagics           MetaHasTraits    <class 'IPython.core.magi<...>mespace.NamespaceMagics'>
age                       int              36
first_name                str              john
get_ipython               function         <function get_ipython at 0x0000028CB46E1800>
height_feet               float            5.8070868
height_meters             float            1.77
json                      module           <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
last_name                 str              reyes
my_future_age_in10years   int              46
my_name                   str              yashar
sys                       module           <module 'sys' (built-in)>

In [5]:
# solution to the exercise 5.1
first_number = 3
second_number = 3.1

#calculate the sum
sum = first_number + second_number

print(type(sum))

<class 'float'>

In [23]:
# we can use input() to take values from users
user_age = input('enter your age:')

enter your age: 35

In [26]:
# we can user int() or float() to convert variable types
# we can use int() to convert a string to an integer
# we can float() to convert a string to a flot
user_age_integer = int(user_age)
print (type(user_age_integer))

<class 'int'>

In [24]:
print(user_age)

35

In [25]:
print(type(user_age))

<class 'str'>

In [6]:
# exercise solution 6.2
# ask users to enter two numbers and convert them into integers at the same time
first_number = int(input("Enter your first integer:"))
second_number = int(input("Enter your second integer:"))
# we calculate the sum
sum = first_number + second_number
print('The sum is equal to',sum)

Enter your first integer: 1
Enter your second integer: 2

The sum is equal to 3

In [8]:
# exercise solution 6.1
# ask users for three different inputs
first_name = input('enter your first name:')
last_name = input('enter your last name:')
age = input ('enter your age:')

#print the user's info
print('your name is',first_name,last_name,'and you are',age,'years old')

enter your first name: yashar
enter your last name: monfared
enter your age: 36

your name is yashar monfared and you are 36 years old

In [10]:
# exercise solution 6.3
#my height in meters
height_meters = float(input("Enter your height in meters:"))

# 1 meter = 3.28084 feet
Conversion_constant = 3.28084

# convert my height from meters to feet
height_feet = height_meters * Conversion_constant

print ('My height in feet is:',height_feet)

Enter your height in meters: 1.75

My height in feet is: 5.74147

In [11]:
# First way of using print() function
name = 'yashar'
age = 36
print ('hello',name,'my age is', age)

hello yashar my age is 36

In [12]:
# using f strings instead of print()
f"hello,{name},my age is,{age}"

'hello,yashar,my age is,36'