# Data Analytics - Module I Chapters 3 and 4

## Data Cleaning and Preparation

Data Cleaning involves identifying and rectifying errors, inconsistencies, and inaccuracies within the dataset. By eliminating missing values, outliers, and redundant information, data quality is enhanced, leading to more accurate and reliable insights.

### Handling Missing Values

Missing values in a dataset can hinder analysis and modeling. Pandas provides functions to handle missing values, such as  **fillna()**, which allows us to fill ***NaN*** values with a specific value or method.

Let's first start by importing our libraries:

In [1]:
#Import pandas and numpy libraries

import pandas as pd
import numpy as np

Now, let's practice filling ***NaN*** values using **fillna()**:

In [2]:
# Creating a DataFrame with missing values
data = { 
     'A':[1, 2, np.nan, 4, 5],
     'B':[10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Before filling missing value
print("Dataframe before filling missing values:\n", df)

# Filling missing values with 0
df_filled = df.fillna(0)
print("Dataframe with missing values filled:\n", df_filled)

Dataframe before filling missing values:
      A   B
0  1.0  10
1  2.0  20
2  NaN  30
3  4.0  40
4  5.0  50
Dataframe with missing values filled:
      A   B
0  1.0  10
1  2.0  20
2  0.0  30
3  4.0  40
4  5.0  50

### Handling Outliers

Outliers are extreme values that can skew analysis and modeling results. Pandas can help us identify and handle outliers. In this example, we identify outliers using the **interquartile range (IQR)** method and remove them:

The **Interquartile Range (IQR)** is a measure of statistical dispersion, representing the range within which the middle 50% of the data lies. It is calculated as the difference between the 75th percentile (also called the third quartile, or Q3) and the 25th percentile (the first quartile, or Q1) of a dataset.

The IQR is useful in identifying the spread of data, and it is commonly used to detect outliers. Values that are significantly lower than Q1 or significantly higher than Q3 are often considered outliers.

Here's a breakdown of what the IQR represents in pandas and how to compute it:

**What IQR Represents**
-  Q1 (25th percentile): The value below which 25% of the data falls.
-  Q3 (75th percentile): The value below which 75% of the data falls.
-  IQR: The range between Q1 and Q3, calculated as IQR = Q3 - Q1.

**How to Calculate IQR in pandas:**
To calculate the IQR for a specific column in a pandas DataFrame, you can use the quantile method to get the 25th and 75th percentiles, and then subtract them to find the IQR.

In [3]:
# Creating a DataFrame with outliers
data = {
        'A' : [1, 2, 3, 4, 5], 
        'B' : [10, 20, 30, 200, 50]
}
df = pd.DataFrame(data)

# Main Dataframe with Outliers
print("DataFrame with outliers:\n", df)

# Identifying and handling outliers
q1 = df['B'].quantile(0.25)
q3 = df['B'].quantile(0.75)
iqr = q3 - q1

lower_bound = q1 - 1.5*iqr
upper_bound = q3 + 1.5*iqr

df_no_outliers = df[(df['B'] >= lower_bound) & (df['B']<= upper_bound)]
print("Dataframe with outliers removed:\n", df_no_outliers)

DataFrame with outliers:
    A    B
0  1   10
1  2   20
2  3   30
3  4  200
4  5   50
Dataframe with outliers removed:
    A   B
0  1  10
1  2  20
2  3  30
4  5  50

In [3]:
# Creating a DataFrame with outliers
data = {
        'A' : [1, 2, 3, 4, 5], 
        'B' : [10, 20, 30, 200, 50]
}
df = pd.DataFrame(data)

# Main Dataframe with Outliers
print("DataFrame with outliers:\n", df)

# Identifying and handling outliers
q1 = df['B'].quantile(0.25)
q3 = df['B'].quantile(0.75)
iqr = q3 - q1

lower_bound = q1 - 1.5*iqr
upper_bound = q3 + 1.5*iqr

df_no_outliers = df[(df['B'] >= lower_bound) & (df['B']<= upper_bound)]
print("Dataframe with outliers removed:\n", df_no_outliers)

DataFrame with outliers:
    A    B
0  1   10
1  2   20
2  3   30
3  4  200
4  5   50
Dataframe with outliers removed:
    A   B
0  1  10
1  2  20
2  3  30
4  5  50

**Code Explanation**
-  **q1** and **q3** are calculated using the **quantile()** function, representing the first and third quartiles of column ‘B’.
-  **q1** represents the value below which 25% of the data lies. For column ‘B’, **q1** would be the median of the first half of the sorted values, which is 15.
-  **q3** represents the value below which 75% of the data lies. For column ‘B’, **q3** would be the median of the second half of the sorted values, which is 50.
-  **iqr** (Interquartile Range) is computed as the difference between **q3** and **q1**.
-  **lower_bound** and **upper_bound** are calculated to define the thresholds beyond which data points are considered outliers. These bounds are defined as 1.5 times the IQR below q1 and above q3.
-  The line **df_no_outliers = df[(df['B'] >= lower_bound) & (df['B'] <= upper_bound)]** filters the DataFrame to keep only the rows where the values in column ‘B’ fall within the acceptable range, effectively removing the outliers.

### Dealing with Duplicate Data
Duplicate data can lead to misleading analysis. Pandas provides functions to detect and remove duplicate rows. Here’s how we can do it:

In [4]:
# Creating a DataFrame with duplicate data
data = {
        'A': [1,2,2,3,4,4],
        'B': [10,20,20,30,40,40]
}
duplicate_df = pd.DataFrame(data)

# Main DataFrame with duplicate data
print("Dataframe with duplicates:\n", duplicate_df)

# Detecting and removing duplicated rows
duplicated_rows = duplicate_df[duplicate_df.duplicated()]

#Detecting and removing duplicated rows but keeping the first duplicate or the last duplicate
deduplicated_df = duplicate_df.drop_duplicates(keep = 'last')

print("Duplicated rows:\n", duplicated_rows)
print("Dataframe without duplicated:\n", deduplicated_df)

Dataframe with duplicates:
    A   B
0  1  10
1  2  20
2  2  20
3  3  30
4  4  40
5  4  40
Duplicated rows:
    A   B
2  2  20
5  4  40
Dataframe without duplicated:
    A   B
0  1  10
2  2  20
3  3  30
5  4  40

In [5]:
# Creating a DataFrame with duplicate data
data = {
        'A': [1,2,2,3,4,4],
        'B': [10,20,20,30,40,40]
}
duplicate_df = pd.DataFrame(data)

# Main DataFrame with duplicate data
print("Dataframe with duplicates:\n", duplicate_df)

# Detecting and removing duplicated rows
duplicated_rows = duplicate_df[duplicate_df.duplicated()]

#Detecting and removing duplicated rows but keeping the first duplicate or the last duplicate
deduplicated_df = duplicate_df.drop_duplicates(keep = 'last')

print("Duplicated rows:\n", duplicated_rows)
print("Dataframe without duplicated:\n", deduplicated_df)

Dataframe with duplicates:
    A   B
0  1  10
1  2  20
2  2  20
3  3  30
4  4  40
5  4  40
Duplicated rows:
    A   B
2  2  20
5  4  40
Dataframe without duplicated:
    A   B
0  1  10
2  2  20
3  3  30
5  4  40

### Data Reshaping
Reshaping data is the process of transforming data from one format to another. In the context of data analysis and machine learning (ML), reshaping data often involves reorganizing it into a different structure that is better suited for analysis, visualization, or modeling. Reshaping can involve tasks such as pivoting, melting, stacking, unstacking, and more.

#### Wide to Long Format (Melting)
In this transformation, we convert a dataset from a wide format (many columns) to a long format (fewer columns) by melting or unpivoting it. This is useful when we have variables stored as columns and we want to gather them into a single column.

Melting data is useful for making it more suitable for analysis, especially when we want to compare or aggregate across different variables.

In [5]:
# Creating a Wide DataFrame
data = {
        'ID': [1,2,3],
        'Math': [90,85,78],
        'Science':[75,88,92]
}

df = pd.DataFrame(data)

# Main Wide DataFrame
print("Original wide dataframe:\n", df)

# Melting the DataFrame
df_long = pd.melt(df, id_vars =['ID'], value_vars=['Math', 'Science'], var_name = 'Subject', value_name = 'Score')

# After Melting the DataFrame
print("Long format dataframe:\n", df_long)

Original wide dataframe:
    ID  Math  Science
0   1    90       75
1   2    85       88
2   3    78       92
Long format dataframe:
    ID  Subject  Score
0   1     Math     90
1   2     Math     85
2   3     Math     78
3   1  Science     75
4   2  Science     88
5   3  Science     92

In [6]:
# Creating a Wide DataFrame
data = {
        'ID': [1,2,3],
        'Math': [90,85,78],
        'Science':[75,88,92]
}

df = pd.DataFrame(data)

# Main Wide DataFrame
print("Original wide dataframe:\n", df)

# Melting the DataFrame
df_long = pd.melt(df, id_vars =['ID'], value_vars=['Math', 'Science'], var_name = 'Subject', value_name = 'Score')

# After Melting the DataFrame
print("Long format dataframe:\n", df_long)

Original wide dataframe:
    ID  Math  Science
0   1    90       75
1   2    85       88
2   3    78       92
Long format dataframe:
    ID  Subject  Score
0   1     Math     90
1   2     Math     85
2   3     Math     78
3   1  Science     75
4   2  Science     88
5   3  Science     92

In [6]:
# Creating a Wide DataFrame
data = {
        'ID': [1,2,3],
        'Math': [90,85,78],
        'Science':[75,88,92]
}

df = pd.DataFrame(data)

# Main Wide DataFrame
print("Original wide dataframe:\n", df)

# Melting the DataFrame
df_long = pd.melt(df, id_vars =['ID'], value_vars=['Math', 'Science'], var_name = 'Subject', value_name = 'Score')

# After Melting the DataFrame
print("Long format dataframe:\n", df_long)

Original wide dataframe:
    ID  Math  Science
0   1    90       75
1   2    85       88
2   3    78       92
Long format dataframe:
    ID  Subject  Score
0   1     Math     90
1   2     Math     85
2   3     Math     78
3   1  Science     75
4   2  Science     88
5   3  Science     92

**Code Explanation**
-  The **pd.melt()** function is used to transform the *df* DataFrame from wide format to long format.
-  **id_vars=['ID']** specifies that the ‘ID’ column should be kept as an identifier for each observation.
-  **value_vars=['Math', 'Science']** specifies the columns (‘Math’ and ‘Science’) whose values will be “melted” or transformed into a single column.
-  **var_name='Subject'** specifies the name of the new column that will store the subject names (‘Math’ and ‘Science’).
-  **value_name='Score'** specifies the name of the new column that will store the scores for each subject.

#### Long to Wide Format (Pivoting)
This transformation involves converting a long-format dataset back into a wide format by pivoting or spreading the values.

Pivoting is useful when we want to reshape data to make it easier to visualize or perform calculations on.

In [7]:
# Creating a Long DataFrame
data = {
        'ID': [1,1,2,2],
        'Subject': ['Math','Science','Math','Science'],
        'Score': [90,75,85,88]
}
df_long = pd.DataFrame(data)

# Main Long DataFrame
print("Original long dataframe:\n", df_long)

# Pivoting the DataFrame
df_wide = df_long.pivot(index='ID', columns = 'Subject', values = 'Score')
print("Wide format DataFrame:\n", df_wide)

Original long dataframe:
    ID  Subject  Score
0   1     Math     90
1   1  Science     75
2   2     Math     85
3   2  Science     88
Wide format DataFrame:
 Subject  Math  Science
ID
1          90       75
2          85       88

**Code Explanation** 
-  The **df_long.pivot()** function is used to transform the df_long DataFrame from a long format to a wide format.
-  **index='ID'** specifies that the ‘ID’ column will be the index of the resulting pivoted DataFrame.
-  **columns='Subject'** specifies that the unique values in the ‘Subject’ column will become the column headers of the pivoted DataFrame.
-  **values='Score'** specifies that the values in the ‘Score’ column will be placed in the corresponding cells of the pivoted DataFrame.

### Stacking and Unstacking
Stacking involves converting columns into rows, and unstacking is the reverse process. These operations can be useful for creating hierarchical indexes and dealing with multi-level data.

Stacking and unstacking can make data manipulation and analysis easier when dealing with multi-indexed data.

In [8]:
# Creating a DataFrame
data = {
    'ID':[1,2],
    'Math':[90,85],
    'Science':[75,88]
}

df = pd.DataFrame(data)

# Original DataFrame
print("Original DataFrame:\n", df)

# Set the DataFrame index using the ID column
df.set_index('ID', inplace = True)

# Doing Stacking and Unstacking
stacked_df = df.stack()
unstacked_df = stacked_df.unstack()
print("Stacked Dataframe:\n", stacked_df)
print("Unstacked Dataframe:\n", unstacked_df)

Original DataFrame:
    ID  Math  Science
0   1    90       75
1   2    85       88
Stacked Dataframe:
 ID
1   Math       90
    Science    75
2   Math       85
    Science    88
dtype: int64
Unstacked Dataframe:
     Math  Science
ID
1     90       75
2     85       88

In [3]:
# Creating a DataFrame
data = {
    'ID':[1,2],
    'Math':[90,85],
    'Science':[75,88]
}

df = pd.DataFrame(data)

# Original DataFrame
print("Original DataFrame:\n", df)

# Set the DataFrame index using the ID column
df.set_index('ID', inplace = True)

# Doing Stacking and Unstacking
stacked_df = df.stack()
unstacked_df = stacked_df.unstack()
print("Stacked Dataframe:\n", stacked_df)
print("Unstacked Dataframe:\n", unstacked_df)

Original DataFrame:
    ID  Math  Science
0   1    90       75
1   2    85       88
Stacked Dataframe:
 ID
1   Math       90
    Science    75
2   Math       85
    Science    88
dtype: int64
Unstacked Dataframe:
     Math  Science
ID
1     90       75
2     85       88

In [3]:
# Creating a DataFrame
data = {
    'ID':[1,2],
    'Math':[90,85],
    'Science':[75,88]
}

df = pd.DataFrame(data)

# Original DataFrame
print("Original DataFrame:\n", df)

# Set the DataFrame index using the ID column
df.set_index('ID', inplace = True)

# Doing Stacking and Unstacking
stacked_df = df.stack()
unstacked_df = stacked_df.unstack()
print("Stacked Dataframe:\n", stacked_df)
print("Unstacked Dataframe:\n", unstacked_df)

Original DataFrame:
    ID  Math  Science
0   1    90       75
1   2    85       88
Stacked Dataframe:
 ID
1   Math       90
    Science    75
2   Math       85
    Science    88
dtype: int64
Unstacked Dataframe:
     Math  Science
ID
1     90       75
2     85       88

In [3]:
# Creating a DataFrame
data = {
    'ID':[1,2],
    'Math':[90,85],
    'Science':[75,88]
}

df = pd.DataFrame(data)

# Original DataFrame
print("Original DataFrame:\n", df)

# Set the DataFrame index using the ID column
df.set_index('ID', inplace = True)

# Doing Stacking and Unstacking
stacked_df = df.stack()
unstacked_df = stacked_df.unstack()
print("Stacked Dataframe:\n", stacked_df)
print("Unstacked Dataframe:\n", unstacked_df)

Original DataFrame:
    ID  Math  Science
0   1    90       75
1   2    85       88
Stacked Dataframe:
 ID
1   Math       90
    Science    75
2   Math       85
    Science    88
dtype: int64
Unstacked Dataframe:
     Math  Science
ID
1     90       75
2     85       88

### Handling Inconsistent Data and Standardizing
Handling inconsistent data is a crucial step in data preprocessing to ensure the accuracy and reliability of our analysis or modeling. Inconsistent data refers to values that do not adhere to the expected format or constraints. This can include typos, varying representations, or unexpected values in categorical variables.

Suppose we have a dataset with a “Gender” column that contains variations of the categories “Male”, “Female”, and "Other". To handle inconsistencies, we can standardize the values.

In [4]:
# Creating a DataFrame
data = {
        'ID': [1,2,3,4,5,6],
        'Gender': ['Male', ' female', 'mAle', 'feMale', 'Other', 'oTHER']
}
df = pd.DataFrame(data)

# Original DataFrame
print("Original Dataframe:\n", df)

# Convert gender values to lowercase and standardize
df['Gender'] = df['Gender'].str.lower().str.strip().replace({'male': 'Male', 'female' 
                                                             : 'Female', 'other':'Other'})
print("Dataframe with consistent gender values:\n", df)

Original Dataframe:
    ID   Gender
0   1     Male
1   2   female
2   3     mAle
3   4   feMale
4   5    Other
5   6    oTHER
Dataframe with consistent gender values:
    ID  Gender
0   1    Male
1   2  Female
2   3    Male
3   4  Female
4   5   Other
5   6   Other

In [4]:
# Creating a DataFrame
data = {
        'ID': [1,2,3,4,5,6],
        'Gender': ['Male', ' female', 'mAle', 'feMale', 'Other', 'oTHER']
}
df = pd.DataFrame(data)

# Original DataFrame
print("Original Dataframe:\n", df)

# Convert gender values to lowercase and standardize
df['Gender'] = df['Gender'].str.lower().str.strip().replace({'male': 'Male', 'female' 
                                                             : 'Female', 'other':'Other'})
print("Dataframe with consistent gender values:\n", df)

Original Dataframe:
    ID   Gender
0   1     Male
1   2   female
2   3     mAle
3   4   feMale
4   5    Other
5   6    oTHER
Dataframe with consistent gender values:
    ID  Gender
0   1    Male
1   2  Female
2   3    Male
3   4  Female
4   5   Other
5   6   Other

**Code Explanation**
-  **df['Gender']** selects the ‘Gender’ column from the DataFrame.
-  **.str.lower()** is a string method that converts all the values in the ‘Gender’ column to lowercase. This ensures that all variations of ‘male’ and ‘female’ are in lowercase, making the replacement consistent.
-  **.replace({'male': 'Male', 'female': 'Female'})** is used to replace specific values in the ‘Gender’ column. Here, it’s specified that the value ‘male’ should be replaced with ‘Male’, the value ‘female’ should be replaced with ‘Female’, and the value ‘other’ should be replaced with ‘Other’.
    - This replacement is case-insensitive due to the prior conversion to lowercase. For instance, ‘Male’ and ‘male’ will both be converted to ‘Male’.
-  **.str.strip()** helps in removing leading and trailing whitespaces from a string. When dealing with textual data in Python, especially from external sources like files or user input, it's common to encounter unwanted leading or trailing whitespaces. These spaces might seem harmless, but they can significantly impact data analysis, leading to inconsistencies and errors.
-  The updated ‘Gender’ column, after performing the lowercase conversion and replacements, is assigned back to the original ‘Gender’ column in the DataFrame. This effectively updates the values in the DataFrame.

Now, suppose we have a dataset with a “Color” column that contains various color names, including some inconsistent spellings and synonyms. We want to standardize these color names.

In [5]:
# Creating a DataFrame
data = {
    'ID': [1,2,3,4,5],
    'Color': ['red', 'green', 'blue', 'Green', 'Reddish']

}
df = pd.DataFrame(data)

# Original DataFrame
print("Original Dataframe:\n", df)

# Define a mapping for inconsistent color names to standard names
color_mapping = {
    'red' : 'Red',
    'green' : 'Green',
    'blue' : 'Blue',
    'reddish': 'Red'
}

# Apply the mapping to the Color column
df['Color'] = df['Color'].str.lower().map(color_mapping)

print("Dataframe with consistent color names:\n", df)

Original Dataframe:
    ID    Color
0   1      red
1   2    green
2   3     blue
3   4    Green
4   5  Reddish
Dataframe with consistent color names:
    ID  Color
0   1    Red
1   2  Green
2   3   Blue
3   4  Green
4   5    Red

In [5]:
# Creating a DataFrame
data = {
    'ID': [1,2,3,4,5],
    'Color': ['red', 'green', 'blue', 'Green', 'Reddish']

}
df = pd.DataFrame(data)

# Original DataFrame
print("Original Dataframe:\n", df)

# Define a mapping for inconsistent color names to standard names
color_mapping = {
    'red' : 'Red',
    'green' : 'Green',
    'blue' : 'Blue',
    'reddish': 'Red'
}

# Apply the mapping to the Color column
df['Color'] = df['Color'].str.lower().map(color_mapping)

print("Dataframe with consistent color names:\n", df)

Original Dataframe:
    ID    Color
0   1      red
1   2    green
2   3     blue
3   4    Green
4   5  Reddish
Dataframe with consistent color names:
    ID  Color
0   1    Red
1   2  Green
2   3   Blue
3   4  Green
4   5    Red