# Data Cleaning, Preparation, and EDA Solution

#### Question 1: Import appropriate package and load the dataset

In [30]:

import numpy as np
import pandas as pd
import os

# Load your dataset (replace 'your_dataset.csv' with the actual file path)
path = './data/diabetes_dataset.csv'
df = pd.read_csv(path)

      ID  Age  Gender   BMI  Glucose  Insulin  HbA1c FamilyHistory Diabetes
0      1   76  Female  30.9    181.0     14.4    7.3          nooo       No
1      2   57  Female  32.4    166.0     19.1    6.9          nooo       No
2      3   20    Male  31.4    165.0      6.7    5.8            No       No
3      4   21    male  21.1    127.0     11.3    5.3            No       No
4      5   58  Female  32.1    175.0      8.9    5.1            No       No
..   ...  ...     ...   ...      ...      ...    ...           ...      ...
515  462   60    Male  22.0    141.0      4.9    6.5           Yes      Yes
516  450   39    male  22.2     82.0     18.5    5.1            No       No
517    9   80    male  32.5     75.0     13.2    8.6           Yes       No
518  370   23    male  23.2    171.0      5.1    9.2          Yess       No
519  256   52    Male  19.5    126.0      6.5    6.1          nooo       No

[520 rows x 9 columns]

#### Question 2: Complete the 'handle_missing_values' function to handel missing values in the dataset

In [ ]:
# Function to handle missing values for both text and numeric columns
def handle_missing_values(df):
    df_filled = df.copy()
    
    for col in ["BMI", "Glucose", "Insulin", "HbA1c"]:
        df_filled[col] = df_filled[col].fillna(df[col].mean())

    # Unknown Family history
    df["FamilyHistory"] = df["FamilyHistory"].fillna("Unknown")
    
    return df_filled

#### Question 3: Complete the 'handle_outliers' function to remove outliers in the dataset

In [ ]:
# Function to handle outliers for numeric columns
def handle_outliers(df):
    df_outliers_removed = df.copy()
    
    # All numeric cols
    for col in ["Age", "BMI", "Glucose", "Insulin", "HbA1c"]:
        q1 = df[col].quantile(0.25)
        q3 = df[col].quantile(0.75)
        iqr = q3 - q1
        lower_bound = q1 - 1.5 * iqr
        upper_bound = q3 + 1.5 * iqr
        df_outliers_removed = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]

    return df_outliers_removed

#### Question 4: Complete the 'handle_duplicates' function to handle duplicates in the dataset

In [ ]:
# Function to handle duplicates
def handle_duplicates(df):
    df_deduplicated = df.copy()

    df_deduplicated = df_deduplicated.drop_duplicates(keep = 'first')
    
    return df_deduplicated

#### Question 5: Complete the 'standardize_data' function to standardizes the 'Gender' column in the dataset

In [33]:
# Function to address inconsistency and standardize data
def standardize_data(df):
    df_standardized = df.copy()

    df_standardized['Gender'] = df_standardized['Gender'].str.lower().str.strip().capitalize()

    return df_standardized

#### Question 6: Complete the 'univariate_analysis' to calculate basic summary statistics and create a histogram to visualize the 'Age' distribution.

In [ ]:
import matplotlib.pyplot as plt

# Function to do univariate analysis
def univariate_analysis(df):

    # Calculate summary statistics
    age_summary = 
    print("Summary Statistics for Age:\n", age_summary)
    
    # Create a histogram
    plt.figure(figsize=(8, 6))
    plt.hist()
    plt.title('Age Distribution')
    plt.xlabel('Age')
    plt.ylabel('Frequency')
    plt.show()

#### Question 7: Complete the 'bivariate_analysis' to perform a bivariate analysis to explore the relationship between 'BMI' and 'Age'. Create a scatter plot to visualize how these two variables are related.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Function to do bivariate analysis
def bivariate_analysis(df):
    # Create a scatter plot
    plt.figure(figsize=(8, 6))
    sns.scatterplot()
    plt.title('Scatter Plot: BMI vs Age')
    plt.xlabel('BMI')
    plt.ylabel('Age')
    plt.show()

#### Main Program

In [ ]:
if __name__ == "__main__":
    df_filled = handle_missing_values(df)
    df_outliers_removed = handle_outliers(df_filled)
    df_deduplicated = handle_duplicates(df_outliers_removed)
    
    # df_reshaped = reshape_data(df_deduplicated)
    df_standardized = standardize_data(df_deduplicated)

    # Call EDA functions
    univariate_analysis(df_standardized)
    bivariate_analysis(df_standardized)

    # Save the cleaned and processed DataFrame to a CSV file
    output_folder_path = '/Users/mrahman-admin/Desktop/Data_Analytics_Visualization/DAV_EDA_Soln'
    output_file = os.path.join(output_folder_path, 'Data_Cleaning_and_Preparation_Cleaned_dataset.csv')
    
    df_standardized.to_csv(output_file, index=False)

    print("Cleaned and processed dataset saved as 'cleaned_dataset.csv'")